// .logo-container {
//   height: calc(100vh - 5%);
// }


.imgBanner{
    background-image: url("../../assets/images/Dxxx.png");
    background-repeat: no-repeat;

}

.card-container{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 12px;
}